In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")
import os
import plotly.express as px
from datetime import datetime

In [2]:
data = pd.read_csv("FLIGHT.csv")
delay=data.copy()
delay.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'DESTINATION_LATITUDE',
       'DESTINATION_LONGITUDE', 'ORIGIN_LATITUDE', 'ORIGIN_LONGITUDE'],
      dtype='object')

In [3]:
delay.shape

(785959, 35)

In [4]:
col_drop=['DAY_OF_WEEK','FLIGHT_NUMBER','TAIL_NUMBER','DIVERTED','CANCELLED','CANCELLATION_REASON','WHEELS_OFF','WHEELS_ON']
delay.drop(col_drop, axis=1, inplace=True)
delay.head(5)

,YEAR,MONTH,DAY,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,ARRIVAL_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,ORIGIN_LATITUDE,ORIGIN_LONGITUDE
0,2019,1,1,VJA,VDH,HAN,5,2354.0,-11.0,21.0,...,-22.0,NaN,NaN,NaN,NaN,NaN,21.024500,105.841170,17.531308,106.294039
1,2019,1,1,VJA,HAN,VDH,25,24.0,-1.0,11.0,...,-21.0,NaN,NaN,NaN,NaN,NaN,17.531308,106.294039,21.024500,105.841170
2,2019,1,1,BBA,UIH,KOS,25,19.0,-6.0,11.0,...,-17.0,NaN,NaN,NaN,NaN,NaN,10.622050,103.522340,13.759660,109.206123
3,2019,1,1,VJA,VDH,HAN,45,41.0,-4.0,17.0,...,-14.0,NaN,NaN,NaN,NaN,NaN,21.024500,105.841170,17.531308,106.294039
4,2019,1,1,VJA,VDH,PQC,50,46.0,-4.0,11.0,...,-18.0,NaN,NaN,NaN,NaN,NaN,9.824959,105.125893,17.531308,106.294039

In [5]:
delay.describe()

,YEAR,MONTH,DAY,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,...,ARRIVAL_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,ORIGIN_LATITUDE,ORIGIN_LONGITUDE
count,785959.0,785959.000000,785959.000000,785959.000000,778001.000000,778001.000000,777768.000000,785953.000000,776053.000000,776053.000000,...,776053.000000,159714.000000,159714.000000,159714.000000,159714.000000,159714.000000,785959.000000,785959.000000,785959.000000,785959.000000
mean,2019.0,6.621288,15.748059,1352.765002,1346.796211,8.959659,15.595635,166.511870,163.804771,140.939953,...,6.211007,19.169547,0.154125,16.070463,22.016717,1.671732,18.360355,95.603390,18.360929,95.604757
std,0.0,3.405921,8.800474,514.476509,531.846775,37.357655,8.532159,90.600746,89.309530,87.031345,...,39.684724,34.619954,2.949480,38.944054,44.649567,13.359767,10.871862,40.979546,10.873752,40.974328
min,2019.0,1.000000,1.000000,1.000000,1.000000,-82.000000,1.000000,18.000000,14.000000,7.000000,...,-82.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-37.814220,-123.113950,-37.814220,-123.113950
25%,2019.0,4.000000,8.000000,915.000000,909.000000,-6.000000,11.000000,101.000000,99.000000,77.000000,...,-12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.333330,104.925990,12.333330,104.925990
50%,2019.0,7.000000,16.000000,1339.000000,1340.000000,-2.000000,13.000000,155.000000,151.000000,128.000000,...,-3.000000,7.000000,0.000000,3.000000,0.000000,0.000000,16.463713,106.629650,16.463713,106.629650
75%,2019.0,10.000000,23.000000,1805.000000,1812.000000,7.000000,18.000000,205.000000,204.000000,179.000000,...,10.000000,23.000000,0.000000,16.000000,26.000000,0.000000,21.024500,108.220830,21.024500,108.220830
max,2019.0,12.000000,31.000000,2359.000000,2400.000000,1433.000000,172.000000,680.000000,733.000000,690.000000,...,1467.000000,1101.000000,364.000000,1467.000000,770.000000,571.000000,55.976090,151.208280,55.976090,151.208280

In [6]:
delay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785959 entries, 0 to 785958
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   YEAR                   785959 non-null  int64
 1   MONTH                  785959 non-null  int64
 2   DAY                    785959 non-null  int64
 3   AIRLINE                785959 non-null  object
 4   ORIGIN_AIRPORT         785959 non-null  object
 5   DESTINATION_AIRPORT    785959 non-null  object
 6   SCHEDULED_DEPARTURE    785959 non-null  int64
 7   DEPARTURE_TIME         778001 non-null  float64
 8   DEPARTURE_DELAY        778001 non-null  float64
 9   TAXI_OUT               777768 non-null  float64
 10  SCHEDULED_TIME         785953 non-null  float64
 11  ELAPSED_TIME           776053 non-null  float64
 12  AIR_TIME               776053 non-null  float64
 13  DISTANCE               785959 non-null  int64
 14  TAXI_IN                777411 non-null  float64
 15  SCHEDULED_ARRIVAL      785959 non-null  int64
 16  ARRIVAL_TIME           777411 non-null  float64
 17  ARRIVAL_DELAY          776053 non-null  float64
 18  AIR_SYSTEM_DELAY       159714 non-null  float64
 19  SECURITY_DELAY         159714 non-null  float64
 20  AIRLINE_DELAY          159714 non-null  float64
 21  LATE_AIRCRAFT_DELAY    159714 non-null  float64
 22  WEATHER_DELAY          159714 non-null  float64
 23  DESTINATION_LATITUDE   785959 non-null  float64
 24  DESTINATION_LONGITUDE  785959 non-null  float64
 25  ORIGIN_LATITUDE        785959 non-null  float64
 26  ORIGIN_LONGITUDE       785959 non-null  float64
dtypes: float64(18), int64(6), object(3)
memory usage: 161.9+ MB

In [7]:
delay.dropna(subset=['DEPARTURE_TIME', 'ARRIVAL_TIME', 'ELAPSED_TIME'],inplace = True)

In [8]:
cl=['SCHEDULED_DEPARTURE','DEPARTURE_TIME','ARRIVAL_TIME','SCHEDULED_ARRIVAL']
for x in cl:
    delay[x] = delay[x].astype(int)
    delay[x] = (delay[x]//100).apply(lambda a: "{}{}".format(a,':') if ((a-10)>=0) else "{}{}{}".format('0',a,':')) + (delay[x]%100).apply(lambda a: "{}".format(a) if ((a-10)>=0) else "{}{}".format('0',a))
    delay.loc[delay[x]=='24:00',x]='00:00'
    delay[x] = pd.to_datetime(delay[x], format='%H:%M')
    delay[x]=delay[x].apply(lambda c : datetime.strftime(c,"%H:%M"))

In [9]:
delay['DATE'] = delay['DAY'].apply(lambda x: "{}{}".format(x,'/')) + delay['MONTH'].astype(str)
delay['DATE'] = delay['DATE'].apply(lambda x: "{}{}".format(x,'/')) + delay['YEAR'].astype(str)
delay['DATE'] = pd.to_datetime(delay.DATE, format='%d/%m/%Y')
delay['DATE'] = delay['DATE'].apply(lambda x : datetime.strftime(x,"%Y-%m-%d"))
delay['DATE']

0         2019-01-01
1         2019-01-01
2         2019-01-01
3         2019-01-01
4         2019-01-01
             ...
785954    2019-12-31
785955    2019-12-31
785956    2019-12-31
785957    2019-12-31
785958    2019-12-31
Name: DATE, Length: 776053, dtype: object

In [10]:
delay.isnull().sum()

YEAR                          0
MONTH                         0
DAY                           0
AIRLINE                       0
ORIGIN_AIRPORT                0
DESTINATION_AIRPORT           0
SCHEDULED_DEPARTURE           0
DEPARTURE_TIME                0
DEPARTURE_DELAY               0
TAXI_OUT                      0
SCHEDULED_TIME                0
ELAPSED_TIME                  0
AIR_TIME                      0
DISTANCE                      0
TAXI_IN                       0
SCHEDULED_ARRIVAL             0
ARRIVAL_TIME                  0
ARRIVAL_DELAY                 0
AIR_SYSTEM_DELAY         616339
SECURITY_DELAY           616339
AIRLINE_DELAY            616339
LATE_AIRCRAFT_DELAY      616339
WEATHER_DELAY            616339
DESTINATION_LATITUDE          0
DESTINATION_LONGITUDE         0
ORIGIN_LATITUDE               0
ORIGIN_LONGITUDE              0
DATE                          0
dtype: int64

In [11]:
delay.head(5)

,YEAR,MONTH,DAY,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,DATE
0,2019,1,1,VJA,VDH,HAN,00:05,23:54,-11.0,21.0,...,NaN,NaN,NaN,NaN,NaN,21.024500,105.841170,17.531308,106.294039,2019-01-01
1,2019,1,1,VJA,HAN,VDH,00:25,00:24,-1.0,11.0,...,NaN,NaN,NaN,NaN,NaN,17.531308,106.294039,21.024500,105.841170,2019-01-01
2,2019,1,1,BBA,UIH,KOS,00:25,00:19,-6.0,11.0,...,NaN,NaN,NaN,NaN,NaN,10.622050,103.522340,13.759660,109.206123,2019-01-01
3,2019,1,1,VJA,VDH,HAN,00:45,00:41,-4.0,17.0,...,NaN,NaN,NaN,NaN,NaN,21.024500,105.841170,17.531308,106.294039,2019-01-01
4,2019,1,1,VJA,VDH,PQC,00:50,00:46,-4.0,11.0,...,NaN,NaN,NaN,NaN,NaN,9.824959,105.125893,17.531308,106.294039,2019-01-01

In [12]:
delay['AIRLINE'].value_counts()

VNA    262042
VJA    171439
BBA    115193
JSP     90090
VAS     76041
VTV     61248
Name: AIRLINE, dtype: int64

In [13]:
delay['ORIGIN_AIRPORT'].value_counts()

HAN    56625
SGN    44630
DAD    43189
VDO    33495
HPH    32258
       ...
STL     1194
YVR     1190
WAS     1166
MEL     1155
SYD     1138
Name: ORIGIN_AIRPORT, Length: 93, dtype: int64

In [14]:
delay['DESTINATION_AIRPORT'].value_counts()

HAN    56574
SGN    44557
DAD    43253
VDO    33452
HPH    32255
       ...
STL     1198
YVR     1189
WAS     1175
MEL     1159
SYD     1141
Name: DESTINATION_AIRPORT, Length: 93, dtype: int64

In [15]:
delay[delay.columns[delay.isnull().any()]].isnull().sum() * 100 / delay.shape[0]

AIR_SYSTEM_DELAY       79.419705
SECURITY_DELAY         79.419705
AIRLINE_DELAY          79.419705
LATE_AIRCRAFT_DELAY    79.419705
WEATHER_DELAY          79.419705
dtype: float64

In [16]:
delay.loc[delay['AIR_SYSTEM_DELAY'].isnull(),'DELAY']='No'
delay['DELAY'].fillna('Yes',inplace=True)

In [17]:
delay['DELAY'].value_counts()

No     616339
Yes    159714
Name: DELAY, dtype: int64

In [18]:
for i in ['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']:
    delay[i].fillna(0,inplace=True)

In [19]:
delay.drop_duplicates(keep='last',inplace=True)

In [20]:
delay.isnull().sum()

YEAR                     0
MONTH                    0
DAY                      0
AIRLINE                  0
ORIGIN_AIRPORT           0
DESTINATION_AIRPORT      0
SCHEDULED_DEPARTURE      0
DEPARTURE_TIME           0
DEPARTURE_DELAY          0
TAXI_OUT                 0
SCHEDULED_TIME           0
ELAPSED_TIME             0
AIR_TIME                 0
DISTANCE                 0
TAXI_IN                  0
SCHEDULED_ARRIVAL        0
ARRIVAL_TIME             0
ARRIVAL_DELAY            0
AIR_SYSTEM_DELAY         0
SECURITY_DELAY           0
AIRLINE_DELAY            0
LATE_AIRCRAFT_DELAY      0
WEATHER_DELAY            0
DESTINATION_LATITUDE     0
DESTINATION_LONGITUDE    0
ORIGIN_LATITUDE          0
ORIGIN_LONGITUDE         0
DATE                     0
DELAY                    0
dtype: int64

In [21]:
delay[delay['ORIGIN_LATITUDE'].isnull()==True]

Empty DataFrame
Columns: [YEAR, MONTH, DAY, AIRLINE, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY, DESTINATION_LATITUDE, DESTINATION_LONGITUDE, ORIGIN_LATITUDE, ORIGIN_LONGITUDE, DATE, DELAY]
Index: []

[0 rows x 29 columns]

In [22]:
delay

,YEAR,MONTH,DAY,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,DATE,DELAY
0,2019,1,1,VJA,VDH,HAN,00:05,23:54,-11.0,21.0,...,0.0,0.0,0.0,0.0,21.024500,105.841170,17.531308,106.294039,2019-01-01,No
1,2019,1,1,VJA,HAN,VDH,00:25,00:24,-1.0,11.0,...,0.0,0.0,0.0,0.0,17.531308,106.294039,21.024500,105.841170,2019-01-01,No
2,2019,1,1,BBA,UIH,KOS,00:25,00:19,-6.0,11.0,...,0.0,0.0,0.0,0.0,10.622050,103.522340,13.759660,109.206123,2019-01-01,No
3,2019,1,1,VJA,VDH,HAN,00:45,00:41,-4.0,17.0,...,0.0,0.0,0.0,0.0,21.024500,105.841170,17.531308,106.294039,2019-01-01,No
4,2019,1,1,VJA,VDH,PQC,00:50,00:46,-4.0,11.0,...,0.0,0.0,0.0,0.0,9.824959,105.125893,17.531308,106.294039,2019-01-01,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785954,2019,12,31,VNA,VII,DAD,23:59,23:55,-4.0,22.0,...,0.0,0.0,0.0,0.0,16.067780,108.220830,18.679585,105.681335,2019-12-31,No
785955,2019,12,31,VNA,SGN,UIH,23:59,23:55,-4.0,17.0,...,0.0,0.0,0.0,0.0,13.759660,109.206123,10.823020,106.629650,2019-12-31,No
785956,2019,12,31,VNA,SGN,BMV,23:59,23:50,-9.0,17.0,...,0.0,0.0,0.0,0.0,12.710012,108.237752,10.823020,106.629650,2019-12-31,No
785957,2019,12,31,VNA,CXR,BMV,23:59,23:53,-6.0,10.0,...,0.0,0.0,0.0,0.0,12.710012,108.237752,12.333330,109.000000,2019-12-31,No
785958,2019,12,31,VNA,SGN,SEA,23:59,00:14,15.0,14.0,...,0.0,0.0,0.0,0.0,47.447570,-122.308020,10.823020,106.629650,2019-12-31,No

In [23]:
delay.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 776053 entries, 0 to 785958
Data columns (total 29 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   YEAR                   776053 non-null  int64
 1   MONTH                  776053 non-null  int64
 2   DAY                    776053 non-null  int64
 3   AIRLINE                776053 non-null  object
 4   ORIGIN_AIRPORT         776053 non-null  object
 5   DESTINATION_AIRPORT    776053 non-null  object
 6   SCHEDULED_DEPARTURE    776053 non-null  object
 7   DEPARTURE_TIME         776053 non-null  object
 8   DEPARTURE_DELAY        776053 non-null  float64
 9   TAXI_OUT               776053 non-null  float64
 10  SCHEDULED_TIME         776053 non-null  float64
 11  ELAPSED_TIME           776053 non-null  float64
 12  AIR_TIME               776053 non-null  float64
 13  DISTANCE               776053 non-null  int64
 14  TAXI_IN                776053 non-null  float64
 15  SCHEDULED_ARRIVAL      776053 non-null  object
 16  ARRIVAL_TIME           776053 non-null  object
 17  ARRIVAL_DELAY          776053 non-null  float64
 18  AIR_SYSTEM_DELAY       776053 non-null  float64
 19  SECURITY_DELAY         776053 non-null  float64
 20  AIRLINE_DELAY          776053 non-null  float64
 21  LATE_AIRCRAFT_DELAY    776053 non-null  float64
 22  WEATHER_DELAY          776053 non-null  float64
 23  DESTINATION_LATITUDE   776053 non-null  float64
 24  DESTINATION_LONGITUDE  776053 non-null  float64
 25  ORIGIN_LATITUDE        776053 non-null  float64
 26  ORIGIN_LONGITUDE       776053 non-null  float64
 27  DATE                   776053 non-null  object
 28  DELAY                  776053 non-null  object
dtypes: float64(16), int64(4), object(9)
memory usage: 177.6+ MB

In [24]:
# export_csv = delay.to_csv (r'FLIGHT1.csv', index = None, header=True)